<nb-card>
  <nb-card-header>Nebula</nb-card-header>
  <nb-card-body>
      <form>
        <input type="text" nbInput fullWidth status="id" placeholder="id">
        <input type="text" nbInput fullWidth status="email" placeholder="email">
        <input type="text" nbInput fullWidth status="name" placeholder="name">
        <input type="text" nbInput fullWidth status="password" placeholder="password">
        <input type="text" nbInput fullWidth status="username" placeholder="username">
      </form>
  </nb-card-body>
  <nb-card-footer>By Wikipedia</nb-card-footer>
</nb-card>
